@charset "UTF-8";
/* MISC */
.key {
  font-size: 65px; }

.key {
  font-size: 45px; }

.key {
  font-size: 35px; }

.key {
  font-size: 25px; }

.key {
  font-size: 20px; }

.key {
  font-size: 15px; }

.key {
  color: #27ca94; }

.key {
  color: white; }

.key {
  color: #d11f1f; }

.key {
  color: #03a062; }

/* Inicio Grid Site */
#grid-site {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: 130px 1fr 175px; }

/* Fin Grid Site */
/* Inicio Normalizadores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  width: 100%;
  min-height: 100vh;
  color: black;
  line-height: 1.5;
  font-weight: inherit; }

img {
  width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: inherit; }

p {
  margin: 0; }

.main {
  max-width: 100vw;
  padding: 35px 50px;
  min-height: 100vh;
  background-color: white;
  grid-area: main; }

/* Fin Normalizadores */
/* PARTIALAS */
/*Inicio de Header*/
.header {
  font-family: 'Rubik', sans-serif;
  text-shadow: 0px 2px 2px #27ca94;
  background-color: #000000;
  padding: 16px;
  display: inline-flex;
  justify-content: space-between;
  align-items: stretch;
  font-weight: 600;
  grid-area: header; }
  .header__logo {
    width: 100px;
    height: 100px;
    animation: logo-entrance 0.6s cubic-bezier(0.23, 1, 0.32, 1) both; }
  .header__ul {
    color: white;
    font-size: 25px;
    display: flex;
    gap: 15px;
    margin-bottom: 0;
    padding: 0; }
  .header__ul li {
    width: 100%;
    border: 3px solid black;
    border-radius: 8px;
    padding: 5px;
    transition: all 0.3s; }
  .header__ul li:hover {
    color: black;
    background-color: white; }
  .header__button {
    background-color: white; }

.selected {
  text-decoration: underline;
  color: white;
  text-shadow: 0px 1px 1px #27ca94; }

/*Animaciones*/
@keyframes logo-entrance {
  0% {
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0; }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1; } }

/*Resposive*/
@media (max-width: 992px) {
  .header__logo {
    width: 85px;
    height: 85px; }
  .header__ul {
    font-size: 20px;
    flex-direction: column;
    margin-top: 5px; }
    .header__ul li {
      background-color: #f5f5e4;
      padding: 5px;
      border-radius: 15px;
      text-align: center; }
    .header__ul a {
      color: black;
      border-radius: 15px;
      padding: 5px; } }

/* Fin de Header */
/*Inicio de Footer*/
.footer {
  font-family: 'Rubik', sans-serif;
  color: white;
  background-color: black;
  padding: 10px;
  text-align: center;
  grid-area: footer; }
  .footer__networks {
    font-size: 25px;
    padding: 5px 0px; }
  .footer__rights {
    font-size: 20px;
    padding-top: 5px; }
  .footer img {
    margin: 15px;
    width: 40px;
    height: 40px; }
  @media (max-width: 360px) {
    .footer .footer__networks {
      font-size: 20px; }
    .footer .footer__rights {
      font-size: 15px; } }

/*Fin de Footer*/
/* VIEWS */
/*Inicio de Main - Index*/
/*Inicio de nombre del sitio - Index*/
.website-name {
  border: solid 5px #d11f1f;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/background-domain.jpg);
  border-radius: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 75px; }
  .website-name h1 {
    text-align: center;
    font-size: 125px;
    font-family: 'Carter One', cursive;
    color: #d11f1f;
    font-weight: bold;
    -webkit-text-stroke: 4px black; }

/*Inicio de Novedades - Index*/
.news-title {
  font-family: 'Carter One', cursive;
  font-size: 65px;
  text-decoration: underline;
  color: #27ca94;
  text-shadow: 3px 3px 3px black;
  text-align: center; }

#news .news {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 15px;
  margin: 25px;
  text-align: center; }
  #news .news__article {
    width: 360px;
    height: 480px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
    position: relative;
    border: solid  7px black;
    border-radius: 24px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    transition: all 0.3s; }
    #news .news__article:hover {
      transform: scale(1.1, 1.1);
      box-shadow: 0 0 10px 0px black; }
    #news .news__article img {
      width: 240px;
      height: 320px; }
    #news .news__article h3 {
      font-family: 'Rubik', sans-serif;
      font-size: 25px;
      text-align: center;
      z-index: 1; }
    #news .news__article span {
      position: absolute;
      right: 15px;
      top: 25px;
      padding: 3px;
      background-color: #efa010;
      font-family: 'Rubik', sans-serif;
      font-size: 25px;
      border-radius: 5px; }

.price {
  display: flex;
  flex-direction: row;
  gap: 20px; }
  .price__article {
    display: inline-flex;
    font-weight: bold;
    text-decoration: line-through;
    color: black;
    font-weight: 100;
    opacity: 50%; }
  .price__ofert {
    color: #03a062;
    font-weight: bold; }

.price-article {
  color: #03a062;
  font-weight: bold; }

/*Inicio de Secciones - Index*/
.sections-title {
  font-family: 'Carter One', cursive;
  font-size: 65px;
  text-decoration: underline;
  color: #27ca94;
  text-shadow: 3px 3px 3px black;
  text-align: center;
  margin-top: 75px; }

.sections {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 15px;
  padding: 15px;
  margin: 25px; }
  .sections__item {
    border: solid  7px black;
    border-radius: 24px;
    background-color: white;
    margin-bottom: 10px;
    transition: all 0.3s; }
    .sections__item:hover {
      transform: scale(1.1, 1.1);
      box-shadow: 0 0 10px 0px black; }
    .sections__item img {
      width: 160px;
      height: 240px;
      margin: 1rem; }
    .sections__item h3 {
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      padding: 15px;
      text-align: center;
      z-index: 1; }

.marvel:hover {
  background-color: #efa010;
  color: white; }

.star-wars:hover {
  background-color: #1e71c2;
  color: white; }

.harry-potter:hover {
  background-color: #d11f1f;
  color: white; }

.anime:hover {
  background-color: #914e8e;
  color: white; }

.movies:hover {
  background-color: #03a062;
  color: white; }

/*Inicio Responsive - Index*/
@media (max-width: 1024px) {
  body {
    width: auto; } }

@media (max-width: 768px) {
  .website-name h1 {
    font-size: 85px;
    font-weight: normal;
    -webkit-text-stroke: 3px black; }
  .news-title {
    font-size: 55px; }
  .sections-title {
    font-size: 55px; } }

@media (max-width: 480px) {
  .website-name {
    margin-bottom: 65px; }
    .website-name h1 {
      font-size: 65px;
      font-weight: normal;
      -webkit-text-stroke: 3px black; }
  .news-title {
    font-size: 45px; }
  .sections-title {
    font-size: 45px; }
  #news .news__article {
    width: 300px;
    height: 420px;
    border: solid  5px black; }
    #news .news__article img {
      width: 200px;
      height: 280px; }
    #news .news__article h3 {
      font-size: 20px; } }

@media (max-width: 360px) {
  .website-name {
    margin-bottom: 45px; }
    .website-name h1 {
      font-size: 45px;
      font-weight: normal;
      -webkit-text-stroke: 3px black; }
  .news-title {
    font-size: 35px; }
  .sections-title {
    font-size: 35px; }
  #news .news__article {
    width: 280px;
    height: 400px;
    border: solid  5px black; }
    #news .news__article img {
      width: 180px;
      height: 260px; }
    #news .news__article h3 {
      font-size: 20px; } }

/*Fin de Main - Index*/
/*Inicio de Main - Productos*/
/*Inicio de listado de categorias*/
.products-title {
  grid-area: title;
  text-align: justify;
  font-family: 'Carter One', cursive;
  color: #27ca94;
  text-shadow: 3px 3px 3px black;
  font-size: 65px;
  text-decoration: underline;
  padding-bottom: 25px; }

.main__products {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 55px; }

.main__sections {
  grid-area: sections;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start; }
  .main__sections__items {
    width: 320px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    padding-left: 10px;
    border: 7px solid black;
    border-radius: 24px; }

/*Fin de listado de categorias*/
/*Inicio de productos en venta*/
.products {
  grid-area: products;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 15px;
  text-align: center; }
  .products__article {
    width: 280px;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
    position: relative;
    border: solid  7px black;
    border-radius: 24px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    transition: all 0.3s; }
    .products__article:hover {
      transform: scale(1.1, 1.1);
      box-shadow: 0 0 10px 0px black; }
    .products__article img {
      width: 160px;
      height: 240px; }
    .products__article h3 {
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      text-align: center;
      z-index: 1; }
    .products__article span {
      position: absolute;
      right: 5px;
      top: 25px;
      padding: 3px;
      background-color: #efa010;
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      border-radius: 5px; }

/*Fin de productos en venta*/
/*Inicio Responsive*/
@media (max-width: 768px) {
  .main .products-title {
    font-size: 55px; }
  .main .main__products {
    flex-wrap: wrap; }
  .main .main__sections {
    align-items: center; }
    .main .main__sections__items {
      width: 280px;
      height: 400px;
      font-size: 25px; } }

/*Fin Responsive*/
/*Fin de Main - Productos*/
/*Inicio de Main - Ofertas*/
.main__offers__title {
  margin: 25px;
  font-family: 'Carter One', cursive;
  color: #27ca94;
  text-shadow: 3px 3px 3px black;
  font-size: 65px;
  text-align: center;
  text-decoration: underline; }

/*Fin de Main - Ofertas*/
/*Inicio de Main - Información*/
.history-main {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 15px; }

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.history {
  margin: 5px; }
  .history p {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding: 5px 15px 0px 15px; }
  .history h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding: 30px 0px 0px 15px;
    text-decoration: underline; }

.title-history {
  font-family: 'Carter One', cursive;
  font-size: 65px;
  text-align: center;
  text-decoration: underline;
  color: #27ca94;
  text-shadow: 3px 3px 3px black; }

.multimedia {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px; }
  .multimedia img {
    width: 900px;
    height: 900px; }
  .multimedia iframe {
    width: 1000px;
    height: 500px;
    border: 10px solid #27ca94;
    border-radius: 30px; }

/*Responsive*/
@media (max-width: 1024px) {
  .multimedia img {
    width: 720px;
    height: 720px; }
  .multimedia iframe {
    width: 800px;
    height: 400px; } }

@media (max-width: 864px) {
  .title-history {
    font-size: 55px; }
  .multimedia img {
    width: 540px;
    height: 540px; }
  .multimedia iframe {
    width: 600px;
    height: 300px; } }

@media (max-width: 768px) {
  .multimedia img {
    width: 500px;
    height: 500px; }
  .multimedia iframe {
    width: 500px;
    height: 500px; } }

@media (max-width: 578px) {
  .multimedia img {
    width: 400px;
    height: 400px; }
  .multimedia iframe {
    width: 400px;
    height: 400px; } }

@media (max-width: 480px) {
  .multimedia img {
    width: 325px;
    height: 325px; }
  .multimedia iframe {
    width: 325px;
    height: 325px; } }

@media (max-width: 380px) {
  .multimedia img {
    width: 275px;
    height: 275px; }
  .multimedia iframe {
    width: 275px;
    height: 275px; } }

/*Fin de Main - Información*/
/*Inicio de Main - Contacto*/
/*Grid*/
#grid-contact {
  display: grid;
  grid-template-areas: "name" "mail" "phone" "comment";
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 3fr; }

.form__data__name {
  grid-area: name; }

.form__data__mail {
  grid-area: mail; }

.form__data__phone {
  grid-area: phone; }

/*Formulario de contacto*/
.title-contact h1 {
  font-family: 'Carter One', cursive;
  font-size: 65px;
  text-align: center;
  text-decoration: underline;
  color: #27ca94;
  text-shadow: 3px 3px 3px black; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 25px; }
  .form__data {
    width: 600px;
    height: 750px;
    border: 3px solid black;
    text-align: center;
    border: 3px solid black; }
  .form__data__item {
    padding: 15px;
    text-align: start; }
    .form__data__item label {
      font-family: 'Carter One', cursive;
      font-size: 25px; }
    .form__data__item input {
      font-size: 25px;
      border: 1px solid black; }
  .form__data__comment {
    grid-area: comment;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 15px;
    text-align: start; }
    .form__data__comment label {
      font-family: 'Carter One', cursive;
      font-size: 25px; }
  .form textarea {
    font-size: 20px;
    border: 1px solid black; }
  .form__data__textarea-input {
    font-size: 25px;
    padding: 0px 5px;
    font-family: 'Carter One', cursive;
    background-color: #27ca94; }

/*Responsive*/
@media (max-width: 768px) {
  .title-contact h1 {
    font-size: 55px; }
  .form__data {
    width: 480px;
    height: 750px; } }

@media (max-width: 560px) {
  .form__data {
    width: 360px;
    height: 750px; } }

@media (max-width: 480px) {
  .title-contact h1 {
    font-size: 45px; }
  .form__data {
    width: 300px;
    height: 750px; } }

@media (max-width: 360px) {
  .title-contact h1 {
    font-size: 35px; }
  .form__data {
    width: 240px;
    height: 750px; } }

/*Fin de Main - Contacto*/
